<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-PzTx0MnNLsDu_K9g1ydEJVtdDQcTZd4</string>
	<key>GCM_SENDER_ID</key>
	<string>144839106866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcoagizza.pantry-app</string>
	<key>PROJECT_ID</key>
	<string>pantry-app-092023</string>
	<key>STORAGE_BUCKET</key>
	<string>pantry-app-092023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144839106866:ios:1f201344830f036a44372b</string>
	<key>DATABASE_URL</key>
	<string>https://pantry-app-092023-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>